#page-map {
  width: 100vw;
  height: 100vh;

  position: relative;
  display: flex;
}

#page-map #main {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
}

#page-map #main #sidebar{
  flex-direction: column;
}


#page-map #main .leaflet-container {
  z-index: 5;
}

#page-map #main .create-orphanage {
  position: absolute;
  right: 40px;
  bottom: 40px;

  z-index: 10;

  width: 64px;
  height: 64px;
  background: #15c3d6;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color ease-in-out 0.2s;
}

#page-map #main .create-orphanage:hover {
  background: #17D6EB;
}

#page-map #main .map-popup .leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: none;
}

#page-map #main .map-popup .leaflet-popup-content {
  color: #0089a5;
  font-size:20px;
  font-weight: bold;
  margin: 8px 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-map #main .map-popup .leaflet-popup-content a {
  width: 40px;
  height: 40px;
  background: #15c3d6;
  box-shadow: 17.2868px 27.6589px 41.4884px rgba(18, 119, 139, 0.16);
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-map #main .map-popup .leaflet-popup-tip-container {
  display: none;
}

#page-map #main .map-popup .leaflet-popup-close-button {
  justify-self: center;
}

.smallLogo{
  justify-content: flex-end;
  width: 40%;
}

.cardsRow{
  justify-content: flex-start;
}

.gridBotao{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;  
  grid-template-rows: auto;
  justify-items: stretch;
}

.botaoGrande{
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}