#page-map {
  width: 100vw;
  height: 100vh;

  position: relative;
  display: flex;
}

#page-map #main {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
}

#page-map #main #sidebar{
  flex-direction: column;
}

#page-map #main .leaflet-container {
  z-index: 5;
}

#page-map #main .create-orphanage {
  position: absolute;
  right: 40px;
  bottom: 40px;

  z-index: 10;

  width: 64px;
  height: 64px;
  background: #15c3d6;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color ease-in-out 0.2s;
}

#page-map #main .create-orphanage:hover {
  background: #17D6EB;
}

#page-map #main .map-popup .leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: none;
}

#page-map #main .map-popup .leaflet-popup-content {
  color: #0089a5;
  font-size:20px;
  font-weight: bold;
  margin: 8px 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-map #main .map-popup .leaflet-popup-content a {
  width: 40px;
  height: 40px;
  background: #15c3d6;
  box-shadow: 17.2868px 27.6589px 41.4884px rgba(18, 119, 139, 0.16);
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-map #main .map-popup .leaflet-popup-tip-container {
  display: none;
}

#page-map #main .map-popup .leaflet-popup-close-button {
  justify-self: center;
}

.cards {
  padding: 0 10%;
  justify-content: flex-start;
  display: initial;
  width: 90%;
  height: 500px;
  
  overflow: auto;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px;
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

.gridBotao{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto;
  justify-items: stretch;
}

.botaoGrande{
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.botaoMenor{
  justify-items: stretch;
}

.alignIconRight{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.iconFormat{
  width: 60px;
  height: 60px;
}

.close .cards {
  display: none;
}

.close .gridBotao {
  margin-bottom: 10px;
}

.close .gridBotao .botaoGrande {
  display: none;
  transition-duration: 0.2s;
}

.close .iconFormat {
  width: 30px;
  height: 30px;
  align-self: center;
}

.close .alignIconRight {
  display: flex;
  align-items: center;
}

aside.close {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
